@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap')

.font-ralway{
    font-family: "Raleway", sans-serif;
}
.font-raleway{
    font-family: "Raleway", sans-serif;
}

 li{
    background-color: lightgray;
    width: 80px;
    height: 40px;
    justify-items: center;
    text-align: center;
    border-radius: 10px;
}

.menu li{
    background-color: transparent;
}

th{
    font-size: 16px;
}

.green{
    background-color: lightgreen;
}